<!doctype html>
<html lang="en" data-bs-theme="dark" class="min-vh-100">
	<head>
		<meta charset="utf-8" />
		<title>Twinuniverse</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
			rel="stylesheet"
			href="https://magicball.net/assets/css/bundle.css"
		/>
		<script async src="https://magicball.net/assets/js/bundle.js"></script>
		<style>
			.quote .message {
				/* Ensure newlines result in new lines */
				white-space: pre-line;
			}
		</style>
	</head>

	<body class="d-flex flex-column min-vh-100">
		<header
			class="navbar navbar-expand-lg sticky-top bg-body-secondary"
			_style="--bs-bg-opacity: .9;"
		>
			<nav class="container">
                <a class="navbar-brand" href="https://magicball.net">
                    <picture>
                        <source
                            type="image/webp"
                            srcset="https://magicball.net/assets/logo.webp"
                        />
                        <img
                            src="https://magicball.net/assets/logo.png"
                            alt="Magicball Network"
                            height="50"
                        />
                    </picture>
                </a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div
                    class="collapse navbar-collapse"
                    id="navbarSupportedContent"
                >
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!--li class="nav-item text-nowrap">
                            <a
                                class="nav-link icon-link"
                                href="/"
                            >
                                <img
                                    src="https://magicball.net/assets/favicon-64.png"
                                    class="nav-icon"
                                    height="24"
                                    width="24"
                                    alt=""
                                    aria-hidden="true"
                                />
                                Home
                            </a>
                        </li-->
                        <li class="nav-item text-nowrap">
                            <a
                                class="nav-link icon-link"
                                href="https://forums.magicball.net"
                            >
                                <img
                                    src="https://magicball.net/assets/talk.png"
                                    class="nav-icon"
                                    height="24"
                                    width="24"
                                    alt=""
                                    aria-hidden="true"
                                />
                                Forum
                            </a>
                        </li>
                        <li class="nav-item text-nowrap">
                            <a
                                class="nav-link icon-link"
                                href="https://quotes.magicball.net"
                            >
                                <img
                                    src="https://quotes.magicball.net/quotes.9749d889.png"
                                    class="nav-icon"
                                    height="24"
                                    width="24"
                                    alt=""
                                    aria-hidden="true"
                                />
                                Quotes
                            </a>
                        </li>
                        <li class="nav-item text-nowrap">
                            <a
                                class="nav-link icon-link"
                                href="/"
                            >
                                <img
                                    src="assets/archive/twinsuniverse_logo_2.png"
                                    class="nav-icon"
                                    height="24"
                                    width="24"
                                    alt=""
                                    aria-hidden="true"
                                />
                                Twinsuniverse
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link icon-link dropdown-toggle" href="/lba1/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="assets/lba2/_scenery/sign2.gif" class="nav-icon" height="24" width="24" alt="" aria-hidden="true"> Islands
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="">Twinsun</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="">- Citadel Island</a>
                                    <a class="dropdown-item" href="">- Desert Island</a>
                                    <a class="dropdown-item" href="">- Dome of the Slate</a>
                                    <a class="dropdown-item" href="">- Principal Island</a>
                                    <a class="dropdown-item" href="">- Proxima Island</a>
                                    <a class="dropdown-item" href="">- Rebellion Island</a>
                                    <a class="dropdown-item" href="">- Hamalayi Mountains</a>
                                    <a class="dropdown-item" href="">- Brundle Island</a>
                                    <a class="dropdown-item" href="">- Tippett Island</a>
                                    <a class="dropdown-item" href="">- Fortress Island</a>
                                    <a class="dropdown-item" href="">- Polar Island</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" href="">Emerald Moon</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" href="">Zeelich</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="">- Otringal</a>
                                    <a class="dropdown-item" href="">- Island of the Francos</a>
                                    <a class="dropdown-item" href="">- Elevator to the under-gas</a>
                                    <a class="dropdown-item" href="">- Celebration Island</a>
                                    <a class="dropdown-item" href="">- Island CX</a>
                                    <a class="dropdown-item" href="">- Island of the Wannies</a>
                                    <a class="dropdown-item" href="">- Island of the Mosquibees</a>
                                    <a class="dropdown-item" href="">- Volcano Island</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link icon-link dropdown-toggle" href="/lba1/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="assets/archive/twin-cd.gif" class="nav-icon" height="24" width="24" alt="" aria-hidden="true"> Characters
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="">Twinsen</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="">Zoé</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="">Jerome Baldino</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="">Dino-Fly</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="">Joe the Elf</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="">Mies van der Rooh's father</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li style="padding: 0.25rem 1rem">
                                    Twinsunians
                                </li>
                                <li>
                                    <a class="dropdown-item" href="">- Quetches</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="">- Rabbibunnies</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="">- Grobos</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="">- Spheros</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li style="padding: 0.25rem 1rem">
                                    Zeelichians
                                </li>
                                <li>
                                    <a class="dropdown-item" href="">- Sups</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="">- Francos</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="">- Wannies</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="">- Mosquibees</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link icon-link dropdown-toggle" href="/lba1/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="assets/archive/sendells_medallion.png" class="nav-icon" height="24" width="24" alt="" aria-hidden="true"> Items
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="Ancestral_Tunic">Ancestral Tunic</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="Holomap">Holomap</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="Magic_Ball">Magic Ball</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="Meca-Penguin">Nitro-Meca-Penguin</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="Super_Jet-pack">Proto-Pack</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li style="padding: 0.25rem 1rem">
                                    FunFrock's Reign
                                </li>
                                <li>
                                    <a class="dropdown-item" href="Book_of_Bù">- Book of Bù</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="Flask_of_Clear_Water">- Flask of Clear Water</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="FunFrock's_Saber">- FunFrock's Saber</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="Horn_of_Gawley">- Horn of Gawley</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="Sendell's_Medallion">- Sendell's Medallion</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="Snowboard">- Snowboard</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li style="padding: 0.25rem 1rem">
                                    Twinsen's Odyssey
                                </li>
                                <li>
                                    <a class="dropdown-item" href="Blowgun">- Blowgun</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="Empero's_Sword">- Emperor's Sword</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="Laser-Pistol_of_Zarnon">- Laser-Pistol of Zarnon</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="Sendell's_Ball">- Sendell's Ball</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="Wizard's_Diploma">- Wizard's Diploma</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item text-nowrap">
                            <a class="nav-link icon-link" href="/links/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://magicball.net/assets/holomap.png" class="nav-icon" height="24" width="24" alt="" aria-hidden="true"> Links
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
		</header>

		<main class="flex-column">
			<div class="container bg-body-tertiary p-4">
				<div style="z-index: 0;">
					{{ content | safe }}
				</div>
			</div>
		</main>

		<div class="footer mt-auto bg-body-secondary">
			<footer
				class="container d-flex flex-wrap justify-content-between align-items-center pt-3"
			>
				<p class="col-md-4">
					Service provided by
					<a href="https://magicball.net">Magicball Network</a>
				</p>

				<a
					href="/"
					class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto text-decoration-none"
				>
					<img
						src="https://magicball.net/assets/favicon-32.png"
						alt="Home"
					/>
				</a>

				<p class="col-md-4 text-end">
					Project hosted on
					<a href="https://github.com/lbalab/Twinuniverse"
						>Github</a
					>
				</p>
			</footer>
		</div>

	</body>
</html>
